/* Global styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
  }
  
  /* About section */
  .about-section {
    background: linear-gradient(to right, #ff9a9e, #fad0c4); /* Gradient with pink and light pink */
    background-repeat: no-repeat;
    background-size: 52%;
    background-color: #fdfdfd;
    overflow: hidden;
    height: 100%;
    padding: 100px 0;
  }
  
  /* Inner container */
  .inner-container {
    width: 55%;
    float: right;
    background: linear-gradient(to right, #bdc3c7, #2c3e50); /* Gradient with silver and dark slate gray */
    padding: 150px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  
  .inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    color: #1f62aa;
  }
  
  .text {
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
  }
  
  /* Skills section */
  .skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
  }
  
  /* Media queries */
  @media screen and (max-width: 1200px) {
    .inner-container {
      padding: 80px;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .about-section {
      background-size: 100%;
      padding: 100px 40px;
    }
    .inner-container {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .about-section {
      padding: 0;
    }
    .inner-container {
      padding: 60px;
    }
  }
  
  /* Styled span elements */
  span {
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    width: 500px;
    background: linear-gradient(to right, #ff6e7f, #bfe9ff); /* Gradient with salmon pink and baby blue */
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
  }
  
  span:hover,
  .active {
    background: linear-gradient(to right, #fc5c7d, #6a82fb); /* Gradient with pale violet red and slate blue */
  }
  